/**
 * Global defaults
 */
.root {
  /*-fx-background-image: url("radio_background.png");*/
  -fx-background-color: #e5e5e5;
}

.label-defaults {
 -fx-font-family: "Tahoma";
 -fx-text-fill: #333;
 -fx-text-overrun: ellipsis;
 -fx-font-smoothing-type: gray;
}

.text-defaults {
   -fx-font-family: "Tahoma";
   -fx-fill: #333;
   -fx-text-overrun: ellipsis;
   -fx-font-smoothing-type: gray;
}

.default-16 {
    -fx-font-size: 16px;
}

.default-white-16 {
    -fx-fill: #fff;
    -fx-font-size: 16px;
}

.controllable-panel {
/*-fx-background-color:#333333;*/
}


/**
 * Weather
 */
.weather-status-panel {
 -fx-background-color: rgba(50, 50, 60, 0.7);
}

.weather-degree {
   -fx-fill: #fff;
   -fx-font-size: 80px;
}

.weather-city-active {
 -fx-font-family: "Tahoma";
 -fx-text-fill: #fff;
 -fx-text-overrun: ellipsis;
 -fx-font-smoothing-type: gray;
 -fx-font-size: 40px;
}

.weather-city {
 -fx-font-family: "Tahoma";
 -fx-text-fill: #333;
 -fx-text-overrun: ellipsis;
 -fx-font-smoothing-type: gray;
 -fx-font-size: 40px;
}

.weather-busy-indicator {
 -fx-font-family: "Tahoma";
 -fx-text-fill: #333;
 -fx-text-overrun: ellipsis;
 -fx-font-smoothing-type: gray;
 -fx-font-size: 20px;
}

.forecast-panel {
  -fx-border-width: 1px;
  -fx-border-color: transparent transparent transparent #ccc;
}

.forecast-temp {
   -fx-font-size: 13px;
   -fx-fill: #fff;
}

/**
 * Google Music Panel
 */
.selector {
   -fx-font-size: 26px;
}

.album-key {
 -fx-font-size: 28px;
}


.album-box {
 /*-fx-background-color: rgba(60, 30, 60, 0.5);*/
}

.track-selection {
 -fx-background-color: #b5b5b5;
}

.track-active {
 -fx-background-color: #b5b5b5;
}

.track-row {
  -fx-border-color: transparent transparent #d9d9d9 transparent;
}


.cover-box {
 -fx-effect: dropshadow(three-pass-box, #b5b5b5, 5, 0, 3, 3);
 -fx-background-color: white;
 -fx-border-width: 1px;
 -fx-border-color: #b5b5b5;
}

.album-info-text {
  -fx-border-color: #b5b5b5 transparent transparent transparent;
}


/**
 * System Panel
 */
.system-tab-title {
 -fx-font-size: 40px;
 -fx-font-family: "Tahoma";
 -fx-text-fill: #333;
 -fx-text-overrun: ellipsis;
 -fx-font-smoothing-type: gray;
}

.system-title {
 -fx-font-size: 22px;
}

.system-key {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.progressIndicator {
    -fx-progress-color: #fb8521;
    -fx-color: #b5b5b5;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
}
.progressIndicator .percentage {
    -fx-fill: #333;
    -fx-font-size: 16px;
}



/**
 * Streaming Panels formatting
 */
.stream-name {
    -fx-font-size: 40px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #333;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

.stream-name-active {
    -fx-font-size: 40px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

.stream-title {
    -fx-font-size: 40px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #333;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

.stream-title-active {
    -fx-font-size: 40px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

.stream-artist {
    -fx-font-size: 25px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #333;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

.stream-artist-active {
    -fx-font-size: 25px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-text-overrun: ellipsis;
    -fx-font-smoothing-type: gray;
}

/**
 * Player status
 */
.player-status-panel {
    /*-fx-background-color: linear-gradient(to bottom, derive(gray, 60%), white);*/
    -fx-background-color: white;
    -fx-border-color: #ccc transparent transparent transparent;
}

.player-status-image {
 -fx-border-color:#666666;
 -fx-border-width:1.0;
}

.player-name-label {
   -fx-font-size: 14px;
   -fx-font-family: "Tahoma";
   -fx-text-fill: #333333;
   -fx-font-weight: bold;
   -fx-text-overrun: ellipsis;
   -fx-font-smoothing-type: gray;
}

.player-title-label {
   -fx-font-size: 14px;
   -fx-font-family: "Tahoma";
   -fx-text-fill: #333333;
   -fx-text-overrun: ellipsis;
   -fx-font-smoothing-type: gray;
}

.player-albuminfo-label {
   -fx-font-size: 12px;
   -fx-font-family: "Tahoma";
   -fx-text-fill: #333333;
   -fx-text-overrun: ellipsis;
   -fx-font-smoothing-type: gray;
}

.player-info-label {
   -fx-font-size: 12px;
   -fx-font-family: "Tahoma";
   -fx-text-fill: #666;
   -fx-text-overrun: ellipsis;
   -fx-font-smoothing-type: gray;
}

.debug {
 /*-fx-background-color: rgba(60, 30, 60, 0.5); -fx-background-radius: 10;*/
 -fx-border: 1px solid; -fx-border-color: gray;
}

/**
 * Footer styling
 */
#scroller {
   -fx-background-color: transparent;
}

#scroller .thumb {
  -fx-background-color:#fb8521;
  -fx-background-radius: 0em;
}

#scroller .increment-arrow,
#scroller .decrement-arrow {
   -fx-shape: " ";
   -fx-padding:0;
}

#scroller .increment-button,
#scroller .decrement-button {
  -fx-padding:5px;
}

.progress-bar {
    -fx-background-color: #b5b5b5;
    -fx-background-radius: 0, 0, 0, 0;
}

.progress-bar .track{
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0, 0, 0;
}

.progress-bar .bar {
    -fx-background-color: #fb8521;
    -fx-background-insets: 3, 3, 3, 3;
    -fx-background-radius: 0, 0, 0, 0;
}

.progress-indicator  {
  -fx-progress-color: #fb8521;
}

/**
 * Service Chooser styling
 */
#chooser {
}

.service-name {
   -fx-font-size: 32px;
   -fx-fill: #fff;
}

.service-loaded {
   -fx-font-size: 32px;
   -fx-fill: #333;
}